{
  "airline": "",
  "airlineCode": "",

  "mongodbConnectURI": "",
  "dbName": "",

  "CognitoRegion": "",
  "CognitoUserPoolId": "",
  "CognitoTokenUse": "access",
  "CognitoTokenExpiration": 8640000,

  "apiNinjasKey": "",

  "adminUsers": []
}
